ion-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ion-modal {
    height: 100%;
}

ion-col {
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    padding: 8px;
    /* optional, damit der Inhalt nicht direkt am Rand klebt */
}

ion-label {
    min-width: 230px !important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}