<cranix-toolbar title="{{'Manage Courses' | translate}}"></cranix-toolbar>
<ion-content>
  @if(authService.isMD()){
  <cranix-md-list objectType="course" [context]="context"></cranix-md-list>
  }@else{
  <cranix-list objectType="course" [context]="context"></cranix-list>
  }
</ion-content>
<ion-modal #addEditModal [isOpen]="isModalOpen" class="big-modal">
  <ng-template>
    <ion-toolbar color="primary">
      <ion-title>
        {{title}}
      </ion-title>
      <ion-buttons slot="end">
        <ion-button fill="clear" size="small" (click)="addEditCourse(addEditModal)">
          <ion-icon color="success" name="checkmark"></ion-icon>
        </ion-button>
        @if(isUpcomming && selectedCourse.id) {
        <ion-button fill="clear" size="small" (click)="courseService.sendMails(selectedCourse.id)"
          matTooltip="{{'Send mail to the invited groups and users'|translate}}">
          <ion-icon slot="icon-only" name="mail"></ion-icon>
        </ion-button>
        <ion-button fill="clear" size="small" (click)="calendarService.createCalendarFile(selectedCourse.appointments, selectedCourse.title)"
          matTooltip="{{'Save appointments into your calendar'|translate}}">
          <ion-icon slot="icon-only" name="calendar-number"></ion-icon>
        </ion-button>
        <ion-button fill="clear" size="small" (click)="createTable(selectedCourse)"
        matTooltip="{{'Print the appointments'|translate}}">
        <ion-icon slot="icon-only" name="print"></ion-icon>
      </ion-button>
        }
        @if(selectedCourse.id){
        <ion-button fill="clear" size="small" (click)="deleteSelectedCourse(addEditModal)">
          <ion-icon slot="icon-only" color="danger" name="trash"></ion-icon>
        </ion-button>
        }
        <ion-button fill="clear" size="small" (click)="closeAddEditModal(addEditModal)">
          <ion-icon slot="icon-only" color="danger" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
    <ion-content>
      <ion-list>
        <ion-item>
          <ion-input [(ngModel)]="selectedCourse.title" name="title" label="{{'Title'|translate}}*"
            labelPlacement="fixed" required part="custom-label"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label [position]="authService.settings.labelPlacement">{{'From'|translate}}*</ion-label>
          <input style="margin-left: auto;" [(ngModel)]="selectedCourse.startDate" name="startDate" type="date"
            required (change)="createCalendarOptions()"/>
        </ion-item>
        <ion-item>
          <ion-label [position]="authService.settings.labelPlacement">{{'Until'|translate}}*</ion-label>
          <input style="margin-left: auto;" [(ngModel)]="selectedCourse.endDate" name="endDate" type="date"
          [min]="selectedCourse.startDate" required (change)="createCalendarOptions()"/>
        </ion-item>
        <ion-item>
          <ion-label [position]="authService.settings.labelPlacement">{{'Start Registration'|translate}}*</ion-label>
          <input style="margin-left: auto;" [(ngModel)]="selectedCourse.startRegistration" name="startRegistration"
            type="datetime-local" required />
        </ion-item>
        <ion-item>
          <ion-label [position]="authService.settings.labelPlacement">{{'End Registration'|translate}}*</ion-label>
          <input style="margin-left: auto;" [(ngModel)]="selectedCourse.endRegistration" name="endRegistration"
            type="datetime-local" required />
        </ion-item>
        <ion-item>
          <ion-label [position]="authService.settings.labelPlacement">{{'Count of Participants'|translate}}*</ion-label>
          <input style="margin-left: auto;" [(ngModel)]="selectedCourse.countOfParticipants" name="countOfParticipants"
            type="number" required />
        </ion-item>
        <ion-item>
          <ion-label [position]="authService.settings.labelPlacement">{{'Count of
            Registrations'|translate}}*</ion-label>
          <input style="margin-left: auto;" [(ngModel)]="selectedCourse.countOfRegistrations"
            name="countOfRegistrations" type="number" required />
        </ion-item>
        <ion-item>
          <ion-label>{{'Invited Groups' | translate}}</ion-label>
          <cranix-search objectType="group" [(ngModel)]="selectedCourse.groups" name="group"
            [multiple]="true"></cranix-search>
        </ion-item>
        <ion-item>
          <ion-label>{{'Invited Users' | translate}}</ion-label>
          <cranix-search objectType="user" [(ngModel)]="selectedCourse.users" name="user"
            [multiple]="true"></cranix-search>
        </ion-item>
      </ion-list>
      @if(selectedCourse.id){
        <full-calendar #calendar [options]="calendarOptions" [events]="events"></full-calendar>
      }
    </ion-content>
  </ng-template>
</ion-modal>
<ion-modal #addEditAppointmentModal [isOpen]="isAddAppointmentOpen">
  <ng-template>
    <ion-toolbar color="primary">
      <ion-title>
        @if(newAppointment){
        {{'Add new Appointmnet'|translate}}
        }@else{
        {{'Edit Appointmnet'|translate}}
        }
      </ion-title>
      <ion-buttons slot="end">
        <ion-button fill="clear" size="small" (click)="addEditAppointment(addEditAppointmentModal)">
          <ion-icon color="success" name="checkmark"></ion-icon>
        </ion-button>
        <ion-button fill="clear" size="small" (click)="closeAddEditAppontment(addEditAppointmentModal)">
          <ion-icon slot="icon-only" color="danger" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
    <ion-content style="border-width: 1px;">
      <ion-list>
        <ion-item>
          <ion-input [(ngModel)]="selectedAppointment.title" name="title" label="{{'Description'|translate}}*"
            labelPlacement="fixed" required part="custom-label"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label [position]="authService.settings.labelPlacement">{{'From'|translate}}*</ion-label>
          <input style="margin-left: auto;" [(ngModel)]="selectedAppointment.start" name="startTime"
            type="datetime-local" required (change)="startTimeSet()" />
        </ion-item>
        <ion-item>
          <ion-label [position]="authService.settings.labelPlacement">{{'Until'|translate}}*</ion-label>
          <input style="margin-left: auto;" [(ngModel)]="selectedAppointment.end" name="endTime" type="datetime-local"
            required />
        </ion-item>
        <ion-item>
          <ion-label>{{'Room' | translate}}</ion-label>
          <cranix-search objectType="room" [(ngModel)]="selectedAppointment.room" name="room"
            [multiple]="false"></cranix-search>
        </ion-item>
        <ion-item>
          <ion-label>{{'Owner' | translate}}</ion-label>
          <cranix-search objectType="user" [(ngModel)]="selectedAppointment.creator" name="owner"
            [multiple]="false"></cranix-search>
        </ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-modal>