<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{'Select institute managers' | translate}}</ion-title>
    <ion-item lines="none">
      <ion-label position="stacked" *ngIf="instituteView">{{'Select institutes to manage by:' | translate}}
        {{selectedManager.fullName}}</ion-label>
      <ion-label position="stacked" *ngIf="!instituteView">{{'Click on user to select managed institutes' | translate}}
      </ion-label>
      <ion-input placeholder="{{'search' | translate }}" (input)="onQuickFilterChanged('managedInstitutesFilter')"
        id="managedInstitutesFilter">
      </ion-input>
      <ion-label *ngIf="instituteView">{{ 'Count of managed institutes:' | translate}}</ion-label>
      <ion-label *ngIf="instituteView">{{managedIds.length}}</ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>
<ion-content id="carded">
  <ion-fab *ngIf="instituteView" vertical="top" horizontal="end" slot="fixed" class="hidden-lg hidden-xl">
    <ion-fab-button>
      <ion-icon name="arrow-forward-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button>
        <ion-icon name="arrow-undo" (click)="userList()"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="checkmark" (click)="showSelected()"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <!--TDOD-->
</ion-content>