<cranix-toolbar title="{{ 'Challenges' | translate}}"></cranix-toolbar>
<!-- List of the challenges -->
@if(!htmlResult && !selectedChallenge && !challengeToAssign){
  @if(authService.isMD()){
    <ion-content>
      <cranix-md-list objectType="challenge" [context]="context" [rowData]="rowData"></cranix-md-list>
    </ion-content>
  }@else{
    <ion-content>
      <cranix-list objectType="challenge" [context]="context" [rowData]="rowData"></cranix-list>
    </ion-content>

  }
}
<!---- Show results -->
@if(htmlResult){
<ion-toolbar class="page-toolbar">
  <ion-title>
    {{selectedChallenge.title}}
  </ion-title>
  <ion-buttons slot="end">
    <ion-button size="small" fill="solid" (click)="htmlResult=null;" matTooltip="{{'Close' | translate }}">
      <ion-icon slot="icon-only" name="close" color="danger"></ion-icon>
    </ion-button>
    @if(selectedChallenge.released){
    <ion-button size="small" fill="solid" (click)="downloadArchive()"
      matTooltip="{{'Download results' | translate }}">
      <ion-icon slot="icon-only" name="download" color="success"></ion-icon>
    </ion-button>
    }
  </ion-buttons>
</ion-toolbar>
<ion-content>
  <div [innerHTML]="htmlResult"></div>
</ion-content>
}
<!--- Assigne a challenge to group or users and start it.-->
@if(challengeToAssign && !challengeToAssign.released) {
<ion-toolbar class="page-toolbar">
  <ion-title>{{challengeToAssign.title}}</ion-title>
  <ion-buttons slot="end">
    <ion-button size="small" fill="solid" (click)="challengeToAssign=null">
      <ion-icon slot="icon-only" name="close" color="danger"></ion-icon>
    </ion-button>
    <ion-button size="small" fill="solid" (click)="startAndAssign()"
      matTooltip="{{'Assign and start challenge' | translate }}"
      [disabled]="challengeToAssign.groups.length == 0 && challengeToAssign.users.length ==0">
      <ion-icon slot="icon-only" name="checkmark" color="success"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>{{'Groups' | translate}}:</ion-label>
      <cranix-search objectType="group" [multiple]="true" [(ngModel)]="challengeToAssign.groups"></cranix-search>
      {{'studentsOnly' | translate}}:
      <ion-toggle [(ngModel)]="challengeToAssign.studentsOnly"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>{{'Users' | translate}}:</ion-label>
      <cranix-search objectType="group" [multiple]="true" [(ngModel)]="challengeToAssign.users"></cranix-search>
    </ion-item>
  </ion-list>
</ion-content>
}
<!--- Edit or create a challenge -->
@if(!htmlResult && !challengeToAssign && selectedChallenge){
<ion-toolbar class="page-toolbar">
  <ion-item [disabled]="selectedChallenge.released" slot="start" lines="none">
    <ion-input [(ngModel)]="selectedChallenge.title" placeholder="{{'Title' | translate}}"></ion-input>
    @if(selectedChallenge.released && selectedChallenge.groups.length > 0){
      {{objectService.formatGroups(selectedChallenge.groups)}}
    }
    @if(selectedChallenge.released && selectedChallenge.users.length > 0){
      {{objectService.formatUsers(selectedChallenge.users)}}
    }
  </ion-item>
  <ion-item [disabled]="selectedChallenge.released" slot="end" lines="none">
    <cranix-search objectType="teachingSubject" [(ngModel)]="selectedChallenge.teachingSubject"
      [items]="crxObjectService.subjects" itemTextField="name" (onChange)="changeTeachingSubject()">
    </cranix-search>
    <cranix-search objectType="subjectArea" [(ngModel)]="selectedChallenge.subjectArea"
      [items]="subjectAreas" itemTextField="name">
    </cranix-search>
  </ion-item>
  @if( !authService.isMD() ) {
  <ion-buttons slot="end">
    <ion-button size="small" fill="solid" (click)="close(false)" matTooltip="{{'Close'|translate}}">
      <ion-icon slot="icon-only" name="close" color="danger"></ion-icon>
    </ion-button>
    @if(selectedChallenge.released){
    <ion-button fill="solid" (click)="stopAndArchive(selectedChallenge)"
      matTooltip="{{'Stop and evaluate challenge and archive the results.'|translate}}">
      <ion-icon slot="icon-only" name="stop-circle-outline" color="danger"></ion-icon>
    </ion-button>
    <ion-button size="small" fill="solid" (click)="evaluate()"
      matTooltip="{{'Show actual results' | translate }}">
      <ion-icon slot="icon-only" name="settings" color="success"></ion-icon>
    </ion-button>
    }@else{
    <ion-button size="small" fill="solid" (click)="save()"
      matTooltip="{{'Save changes' | translate }}"
      [disabled]="!selectedChallenge.title || !selectedChallenge.teachingSubject">
      <ion-icon slot="icon-only" name="checkmark" color="success"></ion-icon>
    </ion-button>
    <ion-button fill="solid" (click)="assign(selectedChallenge)"
      matTooltip="{{'Assign and start challenge.'|translate}}">
      <ion-icon slot="icon-only" name="chevron-forward-circle-outline"></ion-icon>
    </ion-button>
    <ion-button fill="solid" (click)="uploadChallengeToCephalix()"
      matTooltip="{{'Upload the test to CEPHALIX Server.'|translate}}">
      <img src="assets/images/logo/cranix_school.svg" style="height: 32px; width: 32px;">
    </ion-button>
    <ion-button size="small" fill="solid"
      (click)="deleteChallenge(selectedChallenge.id)" matTooltip="{{'Delete' | translate }}">
      <ion-icon slot="icon-only" name="trash" color="danger"></ion-icon>
    </ion-button>
    }
    <ion-button id="getArchive" size="small" fill="solid" (click)="getArchives(selectedChallenge.id)"
      matTooltip="{{'Manage the archived results of this challenge.' | translate }}">
      <ion-icon slot="icon-only" name="archive"></ion-icon>
    </ion-button>
  </ion-buttons>
  }
</ion-toolbar>
@if( !selectedChallenge.released ) {
<ion-footer>
  <ion-item style="color: green; background-color: lightgray;">
    <ion-label>{{ 'New question' | translate }}</ion-label>
    <ion-button slot="end" size="small" fill="clear" (click)="openModalAddNewQuestion()">
      <ion-icon slot="icon-only" color="success" name="add-circle"></ion-icon>
    </ion-button>
  </ion-item>
</ion-footer>
}
<ion-content>
  @if(authService.isMD()){
  <ion-fab vertical="center" horizontal="end" slot="fixed">
    <ion-fab-button size="small">
      <ion-icon name="arrow-back-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button size="small" fill="solid" (click)="close(false)" matTooltip="{{'Close'|translate}}">
        <ion-icon name="close" color="danger"></ion-icon>
      </ion-fab-button>
      @if(selectedChallenge.released){
      <ion-fab-button fill="solid" (click)="stopAndArchive(selectedChallenge)"
        matTooltip="{{'Stop and evaluate challenge and archive the results.'|translate}}">
        <ion-icon name="stop-circle-outline" color="danger"></ion-icon>
      </ion-fab-button>
      <ion-fab-button size="small" fill="solid" (click)="evaluate()"
        matTooltip="{{'Show actual results' | translate }}">
        <ion-icon name="settings" color="success"></ion-icon>
      </ion-fab-button>
      }@else{
      <ion-fab-button size="small" fill="solid" (click)="save()"
        matTooltip="{{'Save changes' | translate }}"
        [disabled]="!selectedChallenge.title || !selectedChallenge.teachingSubject">
        <ion-icon name="checkmark" color="success"></ion-icon>
      </ion-fab-button>
      <ion-fab-button fill="solid" (click)="assign(selectedChallenge)"
        matTooltip="{{'Assign and start challenge.'|translate}}">
        <ion-icon name="chevron-forward-circle-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button fill="solid" (click)="uploadChallengeToCephalix()"
        matTooltip="{{'Upload the test to CEPHALIX Server.'|translate}}">
        <img src="assets/images/logo/cranix_school.svg" style="height: 32px; width: 32px;">
      </ion-fab-button>
      <ion-fab-button size="small" fill="solid"
        (click)="deleteChallenge(selectedChallenge.id)" matTooltip="{{'Delete' | translate }}">
        <ion-icon name="trash" color="danger"></ion-icon>
      </ion-fab-button>
      }
      <ion-fab-button id="getArchive" size="small" fill="solid" (click)="getArchives(selectedChallenge.id)"
        matTooltip="{{'Manage the archived results of this challenge.' | translate }}">
        <ion-icon name="archive"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  }
  @for(question of selectedChallenge.questions; let i = $index; track i;){
  <div class="question">
    @if( questionToEdit == i ){
    <ion-item style="background-color: lightgray;" [disabled]="selectedChallenge.released">
      <quill-editor [(ngModel)]="selectedChallenge.questions[i].question" name="description"></quill-editor>
      <ion-button size="small" fill="solid" (click)="toggleEditQuestion(i)">
        <ion-icon slot="icon-only" color="success" name="checkmark"></ion-icon>
        <div>{{selectedChallenge.questions[i].question.length/1024}}KB</div>
      </ion-button>
    </ion-item>
    }@else{
    <ion-item style="background-color: lightgray;" [disabled]="selectedChallenge.released">
      <div class="counter"><b>{{i+1}}.</b></div>
      <!-- quill-view-html [content]="question.question" (click)="toggleEditQuestion(i)" style="min-width: 200px;"> </quill-view-html -->
      <div [innerHTML]="question.question" (click)="toggleEditQuestion(i)"></div>
      <ion-label class="answer" slot="end">{{ 'value' | translate }}:</ion-label>
      <ion-input class="answer" slot="end" style="max-width: 30px; margin-right: 10px; margin-left: 5px;" [(ngModel)]="question.value" type="number"
        (ionInput)="challengesService.modified = true" min="1"></ion-input>
      <ion-button slot="end" size="small" fill="clear" (click)="deleteQuestion(i)">
        <ion-icon slot="icon-only" color="danger" name="trash"></ion-icon>
      </ion-button>
    </ion-item>
    }
    @for(answer of question.crxQuestionAnswers; track answer.id; let j = $index){
    <ion-item class="answer" [disabled]="selectedChallenge.released">
      @if( answerToEdit == i + '-' + j ){
      <quill-editor [(ngModel)]="selectedChallenge.questions[i].crxQuestionAnswers[j].answer" name="description"></quill-editor>
      <ion-button size="small" fill="clear" (click)="toggleEditAnswer(i,j)">
        <ion-icon slot="icon-only" color="success" name="checkmark"></ion-icon>
        <div>{{selectedChallenge.questions[i].crxQuestionAnswers[j].answer.length/1024}}KB</div>
      </ion-button>
      }@else{
      @if(question.answerType != 'Text'){
      <input style="margin-right: 10px;"
        [type]="question.answerType == 'One' ? 'radio' : 'checkbox'" name="answer-{{i}}" [value]="answer.answer"
        [checked]="answer.correct" (click)="toggle(i, j)">
      }
      <div style="margin: 0;" [innerHTML]="answer.answer" (click)="toggleEditAnswer(i,j)"></div>
      @if(!answer.answer){
      <div (click)="toggleEditAnswer(i,j)">{{'Answer text.'|translate}}</div>
      }
      <ion-button slot="end" size="small" fill="clear" (click)="deleteAnswer(i,j)">
        <ion-icon slot="icon-only" color="danger" name="trash"></ion-icon>
      </ion-button>
      }
    </ion-item>
    }
    @if(!selectedChallenge.released && question.answerType != 'Text'){
    <ion-item class="answer" style="color:green;">
      <ion-label>{{ 'Add new answer' | translate }}</ion-label>
      <ion-button slot="end" size="small" fill="clear" (click)="addNewAnswer(i)">
        <ion-icon slot="icon-only" color="success" name="add-circle"></ion-icon>
      </ion-button>
    </ion-item>
    }
  </div>
  }
</ion-content>
}
<!-- modal available on more pages -->
<ion-modal #modalAddNewQuestion [isOpen]="modalAddNewQuestionIsOpen">
  <ng-template>
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>{{'New question' | translate }}</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="addNewQuestion()">
            <ion-icon slot="icon-only" name="checkmark" color="success"></ion-icon>
          </ion-button>
          <ion-button (click)="modalAddNewQuestionIsOpen = false">
            <ion-icon slot="icon-only" name="close" color="danger"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list [inset]="true">
        <ion-list-header lines="full">
          <ion-label><b>{{'Insert new own question'|translate}}</b></ion-label>
        </ion-list-header>
        <ion-item>
          <ion-label>{{'Type' | translate}}:</ion-label>
          <ion-select [(ngModel)]="answerType" style="max-width: 200px; margin: 10px; color: black;">
            <ion-select-option value="One">{{'One right answer'|translate}}</ion-select-option>
            <ion-select-option value="Multiple">{{'More right answers'|translate}}</ion-select-option>
            <ion-select-option value="Text">{{'The answer must be entered'|translate}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>{{ 'value' | translate }}:</ion-label>
          <ion-input [(ngModel)]="questionValue" type="number" min="1"></ion-input>
        </ion-item>
      </ion-list>
      <ion-list [inset]="true">
        <ion-list-header lines="full">
          <ion-label>{{'Insert existing questions'|translate}}</ion-label>
          @if( questionListPlaceHolder.indexOf('CEPHALIX') == -1 ){
            <ion-button size="small" fill="clear"
              (click)="getQuestionsFromCephalix()"
              matTooltip="{{'Get challenge questions from CEPHALIX server to the selected subject.' | translate }}">
              <img src="assets/images/logo/cranix_school.svg" style="height: 32px; width: 32px;">
            </ion-button>
          }@else{
            <ion-button size="small" fill="clear"
              (click)="getQuestionsFromServer()"
              matTooltip="{{'Get challenge questions from your server to the selected subject.' | translate }}">
              <ion-icon slot="icon-only" name="download" color="success"></ion-icon>
            </ion-button>
          }
        </ion-list-header>
        <ion-item>
          <cranix-search objectType="question" [(ngModel)]="questionsToAdd" [items]="questions" itemTextField="question" [multiple]="true" (onChange)="addQuestions()"></cranix-search>
        </ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-modal>
<ion-modal #modalGetArchive [isOpen]="modalGetArchiveIsOpen">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>{{'Select the archive to download.' | translate }}</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="modalGetArchiveIsOpen = false">
            <ion-icon slot="icon-only" name="close" color="danger"></ion-icon>
          </ion-button>
          <ion-button (click)="downloadArchive()">
            <ion-icon slot="icon-only" name="download" color="success"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list>
        <ion-item *ngFor="let archive of listOfArchives">
          <input type="radio" name="selectedArchive" [value]="archive" [(ngModel)]="selectedArchive"
            style="max-width: 40px; margin-right: 10px;">{{archive}}<br>
        </ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-modal>
<ion-modal #popoverStopAndArchive [isOpen]="popoverStopAndArchiveIsOpen" size="auto">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>{{'Stop challenge'|translate}}</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="popoverStopAndArchiveIsOpen=false; selectedChallengeId=null">
            <ion-icon slot="icon-only" name="close" color="danger"></ion-icon>
          </ion-button>
          <ion-button (click)="stopAndArchive(null)">
            <ion-icon slot="icon-only" name="checkmark"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <p>{{'Stop and evaluate challenge and archive the results.' | translate }}</p>
      <p>{{'The results of this challenge will be archived and removed from the database.'| translate}}</p>
      <p>{{'The challenge itself will stand and can be reused.'|translate}}</p>
    </ion-content>
  </ng-template>
</ion-modal>
<ion-modal #getCephalixChallenges [isOpen]="modalGetCepahlixChallengesIsOpen" (onDidDismiss)="modalGetCepahlixChallengesIsOpen = false">
  <ng-template>
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>
          {{'Select a teaching subject'|translate}}
        </ion-title>
        <ion-buttons slot="end">
          <ion-button size="small" fill="clear" (click)="getCephalixChallengesRealy()">
            <ion-icon slot="icon-only" name="checkmark-sharp" color="success"></ion-icon>
          </ion-button>
          <ion-button size="small" fill="clear" (click)="getCephalixChallenges.dismiss()">
            <ion-icon slot="icon-only" name="close" color="danger"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <cranix-search-list objectType="teachingSubject" [(selectedItem)]="selectedTeachingSubject" [items]="crxObjectService.subjects" itemTextField="name"></cranix-search-list>
    </ion-content>
  </ng-template>
</ion-modal>
<ion-popover #popover [isOpen]="isOpen" (didDismiss)="isOpen = false">
  <ng-template>
    <ion-toolbar>
      {{'The changes will be lost if you leave the module.' | translate}}
    </ion-toolbar>
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button size="small" fill="clear" (click)="isOpen=false">{{'Abort'|translate}}</ion-button>
        <ion-button size="small" fill="clear" (click)="close(true)">{{'Close'|translate}}</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ng-template>
</ion-popover>
<ion-popover #popoverDeleteChallenge [isOpen]="popoverDeleteChallengeIsOpen" size="cover">
  <ng-template>
    <ion-toolbar>
      {{'Remove challenge and all archived results.' | translate}}
    </ion-toolbar>
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button size="small" fill="clear" (click)="popoverDeleteChallengeIsOpen=false; challengeToDelete=null;">
          {{'Abort'|translate}}</ion-button>
        <ion-button size="small" fill="clear" (click)="deleteChallenge(null)">{{'Remove'|translate}}</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ng-template>
</ion-popover>
