<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{'Evaluate Internet Access Logs' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="carded">
  <ion-item lines="none">
    <ion-label *ngIf="gridApi">
      #{{gridApi.getDisplayedRowCount()}}
    </ion-label>
    <ion-input placeholder="{{'search' | translate }}" (input)="onQuickFilterChanged('logsFilter')" id="logsFilter">
    </ion-input>
  </ion-item>
  <!-- TODO -->
</ion-content>
