<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-title>{{ 'Manage DHCP Parameter' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" size="small" (click)="modalController.dismiss()">
        <ion-icon slot="icon-only" fill="solid" color="danger" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-title>{{objectType|translate}}: {{object.name}}</ion-title>
  <ion-list>
    <ion-list-header>
      {{ 'Add new DHCP Option/Statement' | translate}}
    </ion-list-header>
        <ion-item>
          <ion-label [position]="authService.settings.labelPlacement">{{'DHCP Option'| translate}} </ion-label>
          <cranix-search objectType="dhcpOption"
            [(ngModel)]="selectedDHCP"
            itemTextField="name"
            [items]="dhcpOptions"></cranix-search>
          <ion-button slot="end" (click)="addDHCP()">
            <ion-icon name="add-circle" color="danger"></ion-icon>
          </ion-button>
        </ion-item>
        <ion-item>
          <ion-label [position]="authService.settings.labelPlacement">{{'set value'| translate}} </ion-label>
          <ion-input [(ngModel)]="newValue" name="newValue"></ion-input>
        </ion-item>
    <ion-item>
      <ion-label></ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>
      {{'Existing DHCP Options/Statements' | translate}}
    </ion-list-header>
    @for(dhcp of myDHCP; track dhcp.id){
    <ion-item>
      <ion-label>
        {{dhcp.keyword}}
      </ion-label>
      <ion-label>
        {{dhcp.value}}
      </ion-label>
      <ion-button (click)="deletDHCP(dhcp.id)">
        <ion-icon name="trash" color="danger"></ion-icon>
      </ion-button>
    </ion-item>
    }
  </ion-list>
</ion-content>
