.ag-theme-quartz {
    --ag-cell-horizontal-padding: 5px;
}
.ag-theme-alpine {
    --ag-cell-horizontal-padding: 5px;
}
.ag-theme-material {
    --ag-cell-horizontal-padding: 5px;
}
.ag-theme-balham {
    --ag-cell-horizontal-padding: 5px;
}