<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <!-- ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons -->
    <ion-title>{{'List of the servers'|translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="addEditConnection(-1)">
        <ion-icon slot="icon-only" color="success" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-list>
    @for(s of servers; track s; let i = $index){
      <ion-item>
        <ion-label>{{s.name}}</ion-label>
        <ion-button shape="round" (click)="connectServer(i)">
          <ion-icon slot="icon-only" color="success" name="enter"></ion-icon>
        </ion-button>
        <ion-button shape="round" (click)="addEditConnection(i)">
          <ion-icon slot="icon-only" color="warning" name="build"></ion-icon>
        </ion-button>
        <ion-button shape="round" (click)="deleteServer(i)">
          <ion-icon slot="icon-only" color="danger" name="trash"></ion-icon>
        </ion-button>
      </ion-item>
    }
  </ion-list>
</ion-content>

<ion-footer collapse="fade">
  <ion-button fill="clear" (click)="authService.showInfo()">
    <ion-icon slot="icon-only" name="information-circle-outline"></ion-icon>
  </ion-button>
</ion-footer>


<ion-modal #use2faModfal [isOpen]="authService.use2fa">
  <ng-template>
  <form #crx2faForm="ngForm">
  <ion-list>
    @if(authService.session.crx2fas.length > 1){
    <ion-item >
      <ion-select [(ngModel)]="authService.crx2fa" name="selectedCx2fa">
        @for(tmp of authService.session.crx2fas; track tmp){
          <ion-select-option [value]="tmp">{{tmp.split('#')[0]}}</ion-select-option>
        }
      </ion-select>
    </ion-item>
    }
    <ion-item>
      <ion-input label="{{'Enter PIN'|translate}}" labelPlacement="fixed" [(ngModel)]="totppin" name="totppin" required></ion-input>
        @if(!authService.crx2fa.startsWith('TOTP')) {
          <ion-button *ngIf="" (click)="sendPin()">{{'Send pin'|translate}}</ion-button>
        }
    </ion-item>
    <ion-button style="margin: 10px;" expand="full" color="primary" (click)="checkPin()"
      [disabled]="!crx2faForm.valid">{{'login' | translate}}</ion-button>
  </ion-list>
</form>
</ng-template>
</ion-modal>

<ion-modal #addConnectionModal [isOpen]="isAddConnectionOpen">
  <ng-template>
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>
          Add new connection
        </ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="addConnectionModal.dismiss()">
          <ion-icon color="danger" name="close"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
  <ion-content class="ion-padding">
      <form #loginForm="ngForm">
        <ion-list>
        <ion-item>
          <ion-input labelPlacement="fixed" label="Institutename" type="text" [(ngModel)]="connection.name" name="institute" required></ion-input>
        </ion-item>
    
        <ion-item>
          <ion-input labelPlacement="fixed" label="Url" type="text" [(ngModel)]="connection.url" name="url" required></ion-input>
        </ion-item>
    
        <ion-item>
          <ion-input labelPlacement="fixed" label="Benutzername" type="text" [(ngModel)]="connection.user.username" name="username" required></ion-input>
        </ion-item>
    
        <ion-item>
          <ion-input labelPlacement="fixed" label="Passwort" type="password" [(ngModel)]="connection.user.password" name="password" required></ion-input>
        </ion-item>
        @if(newConnection){
        <ion-item>
          <ion-toggle [(ngModel)]="saveConnection" name="saveConnection">{{'Save connection'|translate}}</ion-toggle>
        </ion-item>
        }
        </ion-list>
        <ion-button expand="full" type="submit" (click)="onLogin(addConnectionModal)" [disabled]="!loginForm.valid">{{'login'|translate}}</ion-button>
      </form>
  </ion-content>
  </ng-template>
</ion-modal>