<form #addEditInfo="ngForm" *ngIf="info">
    <ion-header translucent>
        <ion-toolbar color="primary">
            @if(infoId == 0){
                <ion-title>{{ 'Add new ' + infoType | translate }}</ion-title>
            }
            @else{
                @if(owned){
                    <ion-title>{{ 'Edit ' + infoType | translate }}</ion-title>
                }@else{
                    <ion-title>{{ info.title }}</ion-title>
                }
            }         
            <ion-buttons slot="end">
                <ion-button *ngIf="infoType == 'task' && !owned" class="ion-no-margin" (click)="clone()">
                    <ion-icon slot="icon-only" color="success" name="construct"></ion-icon>
                </ion-button>
                <ion-button *ngIf="owned || infoType == 'taskResponse'" class="ion-no-margin" (click)="onSubmit()"
                    [disabled]="!addEditInfo.valid">
                    <ion-icon slot="icon-only" color="success" name="checkmark-sharp"></ion-icon>
                </ion-button>
                <ion-button fill="clear" size="small" (click)="modalCtrl.dismiss('closed')" [disabled]="disabled">
                    <ion-icon slot="icon-only" color="danger" name="close"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>
    <ion-content fullscreen>
        <ion-list>
            <ion-item *ngIf="owned">
	        <cranix-search objectType="category" [ngModelOptions]="{standalone: true}" [(ngModel)]="categories" [items]="informationsService.categories" [multiple]="true" name="categories"></cranix-search>
            </ion-item>
            <ion-item *ngIf="owned">
                <ion-label [position]="authService.settings.labelPlacement">{{'title' | translate}}</ion-label>
                <ion-input [(ngModel)]="info.title" name="title" required [readonly]="!owned"></ion-input>
            </ion-item>
            <div *ngIf="infoType != 'contact'">
                <ion-item *ngIf="infoType != 'taskResponse'">
                    <ion-label [position]="authService.settings.labelPlacement">{{'keywords' | translate}}</ion-label>
                    <ion-input autoGrow="true" [(ngModel)]="info.keywords" name="keywords" required [readonly]="!owned">
                    </ion-input>
                </ion-item>
                <ion-item *ngIf="infoType != 'taskResponse' && infoType != 'faq'">
                    <ion-label [position]="authService.settings.labelPlacement">{{'validFrom' | translate}}</ion-label>
                    <input [(ngModel)]="info.validFrom" name="validFrom" type="datetime-local" [readonly]="!owned">
                </ion-item>
                <ion-item *ngIf="infoType != 'faq'">
                    <ion-label [position]="authService.settings.labelPlacement">{{'validUntil' | translate}}</ion-label>
                    <input [(ngModel)]="info.validUntil" name="validUntil" type="datetime-local" [readonly]="!owned">
                </ion-item>
                <quill-editor *ngIf="owned || infoType == 'taskResponse'; else elseBlock" [styles]="{height: '450px'}"
                    [(ngModel)]="info.text" name="infotext">
                </quill-editor>
                <ng-template #elseBlock>
                    <quill-view-html #elseBlock [content]="info.text" format="text" theme="snow"></quill-view-html>
                </ng-template>
                <ion-item *ngIf="infoType == 'taskResponse'">
                    <ion-label [position]="authService.settings.labelPlacement">{{'rating' | translate}}</ion-label>
                    <quill-view-html [content]="info.rating" format="text" theme="snow"></quill-view-html>
                </ion-item>
            </div>
            <div *ngIf="infoType == 'contact'">
                <ion-item>
                    <ion-label [position]="authService.settings.labelPlacement">{{'issue' | translate}}</ion-label>
                    <ion-input [(ngModel)]="info.issue" name="issue"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label [position]="authService.settings.labelPlacement">{{'name' | translate}}</ion-label>
                    <ion-input [(ngModel)]="info.name" name="name"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label [position]="authService.settings.labelPlacement">{{'email' | translate}}</ion-label>
                    <ion-input [(ngModel)]="info.email" name="email"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label [position]="authService.settings.labelPlacement">{{'phone' | translate}}</ion-label>
                    <ion-input [(ngModel)]="info.phone" name="phone"></ion-input>
                </ion-item>
            </div>
        </ion-list>
    </ion-content>
</form>
