<form #editSoftwareSet="ngForm" (ngSubmit)="onSubmit()">
  <ion-header>
    <ion-toolbar>
      <ion-title *ngIf="softwareService.selectedInstallationSet">{{ 'Edit installation set:' | translate}}
        {{softwareService.selectedInstallationSet.name}}</ion-title>
      <ion-title *ngIf="! softwareService.selectedInstallationSet">{{ 'Create installation set' | translate}}
      </ion-title>
      <ion-buttons slot="end">
        <ion-button *ngIf="toShow == 'overview'" type="submit" class="ion-no-margin"
          [disabled]="!editSoftwareSet.form.valid || submitted">
          <ion-icon slot="icon-only" color="success" name="checkmark-sharp"></ion-icon>
        </ion-button>
        <ion-button *ngIf="softwareService.selectedInstallationSet" fill="clear" size="small" (click)="delete()"
          [disabled]="submitted">
          <ion-icon slot="icon-only" color="danger" name="trash"></ion-icon>
        </ion-button>
        <ion-button fill="clear" size="small" (click)="closeWindow()" [disabled]="submitted">
          <ion-icon slot="icon-only" color="danger" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
    <ion-segment (ionChange)="segmentChanged($event)" [disabled]="submitted" color="secondary" value="overview">
      <ion-segment-button value="overview">
        <ion-label>{{'Overview' | translate}}</ion-label>
      </ion-segment-button>
      <ion-segment-button value="selectObjects">
        <ion-label>{{'Select objects' | translate}}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-header>
  <ion-content id="editSoftware">
    <ion-grid>
      <ion-row *ngIf="toShow == 'overview'">
        <ion-col size=12 sizeMd=3 sizeLg=3 sizeXl=3>
          <ion-item>
            <ion-label position="stacked">{{'name' | translate}}</ion-label>
            <ion-input [(ngModel)]=installationSet.name name="name" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">{{'description' | translate}}</ion-label>
            <ion-input [(ngModel)]=installationSet.description name="description" required></ion-input>
          </ion-item>
        </ion-col>
        <!--TODO-->
      </ion-row>
    </ion-grid>
  </ion-content>
</form>
