@if(isNoticeOpen){
<ion-header>
    <ion-toolbar color="primary">
        <ion-title>
            {{'Notice for:'|translate}}
            <em>
                @if(objectType.indexOf('user') != -1) {
                {{selectedObject.surName}}, {{selectedObject.givenName}}
                }@else{
                {{selectedObject.name}}, {{selectedObject.description}}
                }
            </em>
        </ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="saveNotice()" [disabled]="isDisabled">
                <ion-icon name="checkmark" color="success"></ion-icon>
            </ion-button>
            @if(selectedNotice.id > 0){
            <ion-button (click)="deleteNotice(selectedNotice)" [disabled]="isDisabled">
                <ion-icon name="trash" color="danger"></ion-icon>
            </ion-button>
            }
            <ion-button (click)="closeNotice()" [disabled]="isDisabled">
                <ion-icon name="close" color="danger"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen>
    <ion-list>
        <ion-item>
            <ion-label [position]="authService.settings.labelPlacement">{{'Title'|translate}}: </ion-label>
            <ion-input [(ngModel)]="selectedNotice.title" placeholder="{{'Insert title'|translate}}"></ion-input>
        </ion-item>
        @if(selectedNotice.noticeType){
        <ion-item>
            <ion-label [position]="authService.settings.labelPlacement">{{selectedNotice.noticeType}} </ion-label>
            @if(selectedNotice.id){
            <ion-input readoly value="{{'created'|translate}} {{selectedNotice.created|date:'yyyy-MM-dd'}}; {{'modified'|translate}} {{selectedNotice.modified|date:'yyyy-MM-dd'}}"></ion-input>
            }
        </ion-item>
        @switch(selectedNotice.noticeType){
            @case('late'){
                <ion-item>
                    <ion-label [position]="authService.settings.labelPlacement">{{'Late'|translate}}: </ion-label>
                    <ion-input [(ngModel)]="selectedNotice.late" placeholder="{{'Late in minutes'|translate}}" type="number"></ion-input>
                </ion-item>
            }
            @case('absent')
            {
                <ion-item>
                    <ion-label [position]="authService.settings.labelPlacement">{{'Absent'|translate}}: </ion-label>
                    <ion-input [(ngModel)]="selectedNotice.late" placeholder="{{'Late in minutes'|translate}}"></ion-input>
                </ion-item>
            }
            @case('grading')
            {
                <ion-item>
                    @if( selectedNotice.ptmId != 0 ) {
                    <ion-label>{{'PTM'|translate}}</ion-label>
                    }
                    <ion-label [position]="authService.settings.labelPlacement">{{'teachingSubject'|translate}}:</ion-label>
                    <cranix-search objectType="teachingSubject" [multiple]="false" [items]="crxObjectService.subjects"
                        [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedNotice.teachingSubject"
                        (callback)="selectTeachingSubject()"></cranix-search>
                    <ion-label [position]="authService.settings.labelPlacement">{{'subjectArea'|translate}}:</ion-label>
                    <cranix-search objectType="subjectArea" [multiple]="false" [items]="subjectAreas"
                        [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedNotice.subjectArea"></cranix-search>
                </ion-item>
                <ion-item>
                    <ion-input [labelPlacement]="authService.settings.labelPlacement" label="{{'grading'|translate}}: "
                        type="number" [(ngModel)]="selectedNotice.grading"></ion-input>
                    <ion-input [labelPlacement]="authService.settings.labelPlacement" label="{{'weighting'|translate}}: "
                        type="number" [(ngModel)]="selectedNotice.weighting"></ion-input>
                </ion-item>
            }
        } 
        }@else{
        <ion-item>
            <ion-select label="{{'Type of the notice'|translate}}" placeholder="{{'Select notice type'|translate}}" [(ngModel)]="selectedNotice.noticeType">
                @for(type of noticeTypes[objectType]; track type){<ion-select-option [value]="type">{{type|translate}}</ion-select-option>}
              </ion-select>
        </ion-item>
        }
    </ion-list>
    @if(selectedNotice.noticeType == 'grading' || selectedNotice.noticeType == 'notice' || selectedNotice.noticeType == 'ptm' ){
        <quill-editor [(ngModel)]="selectedNotice.text" style="height: auto; margin-left: 10px;  "></quill-editor>
    }
</ion-content>
}@else{
<ion-header>
    <ion-toolbar color="primary">
        <ion-title>
            {{'Notices for'|translate}}:
            <em>
                @if(objectType.indexOf('user') != -1){
                {{selectedObject.surName}}, {{selectedObject.givenName}}
                }@else{
                {{selectedObject.description}}
                }
            </em>
        </ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="openNotice(null)">
                <ion-icon slot="icon-only" name="add-circle"></ion-icon>
            </ion-button>
            <ion-button (click)="closeNotices()" [disabled]="isDisabled">
                <ion-icon slot="icon-only" name="close" color="danger"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid>
        <ion-row>
            @for(notice of notices; track notice.id){
            <ion-col size="2" size-xs="12" size-sm="6" size-md="4">
                <ion-card>
                    <ion-card-header color="primary">
                        <ion-toolbar color="primary">
                            <ion-label>
                                 {{notice.noticeType|translate}} {{notice.created|date:"yyyy-MM-dd"}}
                            </ion-label>
                            <ion-buttons slot="end">
                                <ion-button fill="clear" (click)="openNotice(notice)">
                                    <ion-icon name="build"></ion-icon>
                                </ion-button>
                                <ion-button fill="clear" (click)="deleteNotice(notice)">
                                    <ion-icon name="trash" color="danger"></ion-icon>
                                </ion-button>
                            </ion-buttons>
                        </ion-toolbar>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-item lines="none" [button]="true" (click)="openNotice(notice)">
                            <ion-label>
                                <b>{{notice.title}}</b><br>
                                @switch(notice.noticeType){
                                    @case('grading') {<p>{{notice.grading}} {{notice.weighting}}</p>}
                                    @case('late') {<p>{{notice.late}} min</p>}
                                }
                            </ion-label>
                        </ion-item>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            }
        </ion-row>
    </ion-grid>
</ion-content>
}