@if(isNoticeOpen){
<ion-header>
    <ion-toolbar color="primary">
        <ion-title>
            {{'Notice for:'|translate}} 
            @if(objectType.indexOf('user') != -1) {
                {{selectedObject.surName}}, {{selectedObject.givenName}}
            }@else{
                {{selectedObject.name}}, {{selectedObject.description}}
            }
        </ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="saveNotice()" [disabled]="isDisabled">
                <ion-icon name="checkmark" color="success"></ion-icon>
            </ion-button>
            @if(selectedNotice.id > 0){
            <ion-button (click)="deleteNotice(selectedNotice)" [disabled]="isDisabled">
                <ion-icon name="trash" color="danger"></ion-icon>
            </ion-button>
            }
            <ion-button (click)="closeNotice()" [disabled]="isDisabled">
                <ion-icon name="close" color="danger"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-item>
        <ion-input label="{{'Title'|translate}}: " [(ngModel)]="selectedNotice.title"
            placeholder="{{'Insert title'|translate}}"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>
            {{'created'|translate}} {{selectedNotice.created|date:"yyyy-MM-dd"}}; {{'modified'|translate}} {{selectedNotice.modified|date:"yyyy-MM-dd"}}
        </ion-label>
    </ion-item>
    <ion-item>
        @if( selectedNotice.ptmId != 0 ) {
        <ion-label>{{'PTM'|translate}}</ion-label>
        }
        <ion-label [position]="authService.settings.labelPlacement">{{'teachingSubject'|translate}}:</ion-label>
        <cranix-search objectType="teachingSubject" [multiple]="false" [items]="crxObjectService.subjects" [(ngModel)]="selectedNotice.teachingSubject" (callback)="selectTeachingSubject()"></cranix-search>
        <ion-label [position]="authService.settings.labelPlacement">{{'subjectArea'|translate}}:</ion-label>
        <cranix-search objectType="subjectArea" [multiple]="false" [items]="subjectAreas" [(ngModel)]="selectedNotice.subjectArea"></cranix-search>
    </ion-item>
    <ion-item>
        <ion-input label="{{'grading'|translate}}: " type="number" [(ngModel)]="selectedNotice.grading"></ion-input>
        <ion-input label="{{'weighting'|translate}}: " type="number" [(ngModel)]="selectedNotice.weighting"></ion-input>
    </ion-item>
    <ion-item>
        <quill-editor [(ngModel)]="selectedNotice.text"></quill-editor>
    </ion-item>
</ion-content>
}@else{
<ion-header>
    <ion-toolbar color="primary">
        <ion-title>
            {{'Notices for'|translate}}:
            <em>
            @if(objectType.indexOf('user') != -1){
            {{selectedObject.surName}}, {{selectedObject.givenName}}
            }@else{
            {{selectedObject.description}}
            }
            </em>
        </ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="openNotice(null)">
                <ion-icon slot="icon-only" name="add-circle"></ion-icon>
            </ion-button>
            <ion-button (click)="closeNotices()" [disabled]="isDisabled">
                <ion-icon slot="icon-only" name="close" color="danger"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid>
        <ion-row>
            @for(notice of notices; track notice.id){
            <ion-col size="2" size-xs="12" size-sm="6" size-md="4">
                <ion-card>
                    <ion-card-header color="primary">
                        <ion-toolbar color="primary">
                            <ion-label>
                                {{'created'|translate}} {{notice.created|date:"yyyy-MM-dd"}}
                                </ion-label>
                            <ion-buttons slot="end">
                                <ion-button fill="clear" (click)="openNotice(notice)">
                                    <ion-icon name="build"></ion-icon>
                                </ion-button>
                                <ion-button fill="clear" (click)="deleteNotice(notice)">
                                    <ion-icon name="trash" color="danger"></ion-icon>
                                </ion-button>
                            </ion-buttons>
                        </ion-toolbar>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-item lines="none" [button]="true" (click)="openNotice(notice)">
                            <ion-label>
                                <b>{{notice.title}}</b><br>
                                <p>{{notice.grading}} {{notice.weighting}}</p>
                            </ion-label>
                        </ion-item>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            }
        </ion-row>
    </ion-grid>
</ion-content>
}