<cranix-toolbar title="{{ 'Software installation status:' | translate}}"></cranix-toolbar>
<ion-content>
  @if(ready){
  <ion-row>
    <ion-col>
      <ion-item>
        <cranix-search objectType="software" [(ngModel)]="selectedSoftwares" [items]="softwares" itemTextField="value"
          [multiple]="true" (onChange)="readFilteredSoftwareData()">
        </cranix-search>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item>
        <cranix-search objectType="room"  [(ngModel)]="selectedRooms" [items]="rooms" itemTextField="value" [multiple]="true" (onChange)="readFilteredSoftwareData()">
        </cranix-search>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item>
        <cranix-search objectType="status"  [(ngModel)]="selectedStati" [items]="stati" itemTextField="value" [multiple]="true" (onChange)="readFilteredSoftwareData()">
        </cranix-search>
      </ion-item>
    </ion-col>
  </ion-row>
  <cranix-list objectType="softwarestatus" [context]="context" [rowData]="softwareData"></cranix-list>
}@else{
  {{'Loading data ...'|translate}}
}
</ion-content>
