/*
* quill-editor
*/
quill-editor {
   min-height:  100%;
   min-width: 90%;
   width: 90%;
   margin-left: auto;
   margin-right: auto;
}
.ql-container {
  padding: 0px;
  min-height: 200px;
}
/*
* Define custom modal for browser
*/
@media only screen and (min-width: 768px) and (min-height: 768px) {
  .modal-wrapper {
    height: 85%;
    width : 500px;
  }

  .big-modal {
    &::part(content) {
      height: 85%;
      width : 80%;
    }
  }

  .medium-modal {
    &::part(content) {
      height: 85%;
      width : 500px;
    }
  }
  .small-modal {
    &::PART(Content) {
      height: 400px;
      width : 500px;
    }
  }

  .fullscreen-modal {
    &::part(content) {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  .ios .fullscreen-modal {
    &::part(content) {
      top: 26px;
    }
  }
}


/*
* File select design
*/
.button-file {
  min-width            : 150px;
  color                : #fff;
  background-color     : lightskyblue;
  font-weight          : bold;
  border               : 1px #999 solid;
  -webkit-border-radius: 3px;
  -moz-border-radius   : 3px;
  -o-border-radius     : 3px;
  border-radius        : 3px;
  filter               : progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#bb0000ff', EndColorStr='#990000ff');
  padding              : 10px 5px;
}

.button-file:active {
  filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#990000ff', EndColorStr='#bb0000ff');
}

.button-file:hover {
  cursor: pointer;
}


/*
* Own style for split one row in identical width pieces
* The parent must be a <div style="display: flex; width: 100%;">
*/
.divclass {
    flex: 1; /* Gleiche Breite, teilt den Platz gleich auf */
    display: flex;
    flex-direction: column; /* Für Zeilenaufteilung innerhalb der Divs, falls nötig */
    overflow: hidden; /* Verhindert Überlauf */
    text-overflow: ellipsis; /* Bei Überlauf "..." anzeigen */
    white-space: nowrap; /* Kein Zeilenumbruch, Text bleibt in einer Zeile */
}

/*
* Layaout for cranix-search-list and user/group member lists
*/
.button-container {
    height: 90vh; /* 50% der Viewport-Höhe */
    overflow-y: auto; /* Bei Überlauf scrollbar machen */
    border: 1px solid #ccc; /* Optional: Rahmen für Sichtbarkeit */
    padding: 10px;
    box-sizing: border-box;
}

/* Style für Buttons (optional) */
.button-container button {
  display: block;
  width: 100%;
  margin-bottom: 4px;
  padding: 10px;
  font-size: 14px;
  text-align: left;
}

/* + Zeichen vor dem Button-Text */
button.pluss::before {
  content: "+ ";
  margin-right: 5px; /* Abstand zum Text */
  color: green; /* Optional, Farbe des + Zeichens */
}
button.minus::before {
  content: "- ";
  margin-right: 5px; /* Abstand zum Text */
  color: red; /* Optional, Farbe des + Zeichens */
}
button.lt::before {
  content: "<";
  margin-right: 5px; /* Abstand zum Text */
}

button.gt::before {
  content: ">";
  margin-right: 5px; /* Abstand zum Text */
}

ion-accordion.accordion-expanding ion-item[slot="header"],
ion-accordion.accordion-expanded ion-item[slot="header"] {
  --color: red;
}

/*
* Ein anderes lookout
*/
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display : inline-block;
}

.btn {
  min-width       : 150px;
  border          : 2px solid gray;
  color           : black;
  background-color: rgb(89, 124, 153);
  padding         : 8px 20px;
  border-radius   : 1px;
  //font-size: 20px;
  font-weight     : bold;
}

.upload-btn-wrapper input[type=file] {
  font-size: 20px;
  position : absolute;
  left     : 0;
  top      : 0;
  opacity  : 0;
}



/*
* Styles for different states
*/
.ok-row {
  background: lightgreen;
  color     : black;
  text-align: center;
  margin    : 6px;
}

.neutral-row {
  background: lightblue;
  color     : black;
  text-align: center;
  margin    : 6px;
}

.bad-row {
  background: red;
  color     : black;
  text-align: center;
  margin    : 6px;
}

.sub-header-row {
  background: lightgray;
  color     : black;
  text-align: center;
  padding-bottom: 15px;
  padding-top: 15px;
  margin    : 6px;
}


/*
 * edited styling for ag-grid
 *
 */
$grid-breakpoints :(xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px);

$breakpoints-keys  : map-keys($grid-breakpoints);
$breakpoints-values: map-values($grid-breakpoints);
@for $i from 1 to length($breakpoints-keys)+1 {
  @if $i < length($breakpoints-keys) {
    .hidden-#{nth($breakpoints-keys, $i)} {
      @media (min-width: nth($breakpoints-values, $i)) and (max-width: #{nth($breakpoints-values, $i+1) - 1}) {
        display: none !important;
      }
    }
  }

  @else {
    .hidden-#{nth($breakpoints-keys, $i)} {
      @media (min-width: nth($breakpoints-values, $i)) {
        display: none !important;
      }
    }
  }
}

/*
* AG Grid Styles
*
.ag-row .ag-cell {
  display          : flex;
  align-items      : center;
  justify-content  : space-between;
  text-overflow    : ellipsis;
  border-right     : 0px !important;
  border-left-width: 0px !important;
}

.ag-theme-material .ag-checkbox .ag-input-wrapper,
.ag-theme-material .ag-radio-button .ag-input-wrapper {
  font-size : 15px;
  box-shadow: none;
}

.ag-theme-material .ag-header-row:first-child .ag-header-cell {
  padding-left: 4px;
}

.ag-theme-material .ag-checkbox-input-wrapper.ag-checked::after {
  color: var(--ion-color-secondary);
}

.ag-theme-material .ag-checkbox-input-wrapper.ag-indeterminate::after {
  color: gray;
}

.ag-cell-wrapper {
  justify-content: space-between;
}

.ag-header-group-cell-label,
.ag-header-cell-label {
  justify-content: center;
}
*/
.uuid-flex {
  display       : flex;
  flex-direction: row;
  align-items   : center;
}

.name-action {
  display       : flex;
  flex-direction: row;
  align-items   : center;
  padding-left  : 2px;
  padding-right : 2px;

  .name {
    color: red
  }

  .actions {
    color: blue
  }
}


input {
  border      : none;
  border-width: 0;
  box-shadow  : aqua;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
.page-toolbar {
  --ion-text-color: var(--ion-color-light-contrast);
  --ion-background-color: var(--ion-color-light);
  height: 54px;
  border-color: var(--ion-color-primary-tint);
  border-width: 2px;
  border-bottom-width: 2px;
  border-left: none;
  border-right: none;
  border-top: none;
  ion-title {
      padding-inline-start: 1px;
      padding-inline-end: 1px;
      text-align: left;
  }
}
.page-toolbar-medium {
  --ion-text-color: var(--ion-color-medium-contrast);
  --ion-background-color: var(--ion-color-medium);
  height: 54px;
  border-color: var(--ion-color-primary-tint);
  border-width: 2px;
  border-left: none;
  border-right: none;
  border-top: none;
  ion-title {
      padding-inline-start: 1px;
      padding-inline-end: 1px;
      text-align: left;
  }
}
.page-toolbar-full {
  --ion-text-color: var(--ion-color-light-contrast);
  --ion-background-color: var(--ion-color-light);
  border-color: var(--ion-color-primary-tint);
  border-width: 2px;
  border-left: none;
  border-right: none;
  border-top: none;
  ion-title {
      padding-inline-start: 1px;
      padding-inline-end: 1px;
      text-align: left;
  }
}


/*
* ion-item should inherit background from its container for example ion-row
*/
ion-item::part(native) {
  background: inherit;
  margin: 0px;
  padding-left: calc(var(--padding-start) + var(--ion-safe-area-left, 0px));
  padding-right: var(--padding-end);
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);
  background: inherit;
  overflow: inherit;
  box-sizing: border-box;
  z-index: 1;
  border-radius: var(--border-radius);
}

/*
 * layout for carded-pages
 *
 */
#roomcontrol {
  ion-content {
    padding-top: 60px;
  }
}
ion-card-content{
  padding : 0px;
}
ion-card-title{
  font-size : 14px
}
.ion-card-content-md {
  padding-left: 2px;
  padding-inline-start: 2px;
  padding-top: 2px;
  padding-right: 2px;
  padding-inline-end: 2px;
  padding-bottom: 2px;
}
.card-content-ios {
  padding-inline-start: 0%;
  padding-inline-end: 0%;
}


.text-container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  font-size: small;
  gap: 2px;
  margin-left: 10px;
  margin-right: 10px;
}

.text-row {
  display: flex;
  justify-content: space-between; /* A links, B rechts */
}
