table {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    min-width: 500px;
}
 
th.mat-header-cell {
    text-align: left;
    max-width: 300px;
}
.mat-row:nth-child(even){
    background-color: LightGray;
}

.mat-row:nth-child(odd){
    background-color:silver;
}

.ag-row {
    height: 35px;
}

.ag-row-even{
    background-color: aqua;
    //background-color: LightGray;
}
    
.ag-row-odd{
    background-color:silver;
}