@if(selectedCourse){
<ion-header>
    <ion-toolbar class="page-toolbar">
        <ion-title>{{'Event Registrations'|translate}} {{selectedCourse.startDate}} - {{selectedCourse.endDate}}
            {{'user'|translate}}: {{user.surName}}, {{user.givenName}}
        </ion-title>
        <ion-buttons slot="end">
            <ion-button fill="clear" size="small" (click)="calendarRegistration()">
                <ion-icon slot="icon-only" name="calendar"></ion-icon>
            </ion-button>
            <ion-button fill="clear" size="small" (click)="printRegistration()">
                <ion-icon slot="icon-only" name="print"></ion-icon>
            </ion-button>
            <ion-button fill="clear" size="small" (click)="mailRegistration()">
                <ion-icon slot="icon-only" name="mail"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <full-calendar #calendar [options]="calendarOptions" [events]="events"></full-calendar>
</ion-content>
}