<form #addEditRoomAccess="ngForm">
  <ion-header translucent>
    <ion-toolbar color="primary">
      <ion-title>{{ objectActionTitle | translate }}</ion-title>
      <ion-buttons slot="end">
        <ion-button class="ion-no-margin" [disabled]="!addEditRoomAccess.valid && !roomAccess.roomId"
          (click)="addModify()">
          <ion-icon slot="icon-only" color="success" name="checkmark-sharp"></ion-icon>
        </ion-button>
        <ion-button *ngIf="objectAction == 'modify'" fill="clear" size="small" (click)="deleteObject()">
          <ion-icon slot="icon-only" color="danger" name="trash"></ion-icon>
        </ion-button>
        <ion-button fill="clear" size="small" (click)="closeWindow()">
          <ion-icon slot="icon-only" color="danger" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content fullscreen>
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label [position]="authService.settings.labelPlacement">{{ 'Room' | translate }}</ion-label>
        @if(objectAction == 'add') {
        <ion-note slot="end">
          <cranix-search objectType="room" (onChange)="roomChanged($event.value)" [items]="roomsToSelect"
            [multiple]="false" [ngModelOptions]="{standalone: true}" [(ngModel)]="roomAccess.room"
            name="room"></cranix-search>
        </ion-note>
        } @else {
        {{roomAccess.room.name}}
        }
      </ion-item>
      @for(key of objectKeys; track key) {
      @if(key == 'accessType') {
      <ion-item>
        <ion-label [position]="authService.settings.labelPlacement">{{ key | translate }}</ion-label>
        <ion-select type="text" [(ngModel)]="roomAccess.accessType" name="accessType" required
          [compareWith]="objectService.compareFn" [disabled]="objectAction != 'add'">
          <ion-select-option *ngFor="let accessType of objectService.selects['accessType']" value="{{accessType}}">
            {{accessType | translate}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      } @else if(key == 'action' && roomAccess.accessType == 'ACT') {
      <ion-item>
        <ion-label [position]="authService.settings.labelPlacement">{{ key | translate }}</ion-label>
        <ion-select type="text" [(ngModel)]="roomAccess.action" name="action" required
          [compareWith]="objectService.compareFn">
          <ion-select-option *ngFor="let action of objectService.selects['action']" value="{{action}}">
            {{action | translate}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      } @else if(key == 'pointInTime') {
      <ion-item>
        <ion-label [position]="authService.settings.labelPlacement">{{ key | translate }}</ion-label>
        <ion-input type="text" [(ngModel)]="roomAccess.pointInTime" name="pointInTime"
          [disabled]="roomAccess.accessType == 'DEF'"></ion-input>
      </ion-item>
      } @else if(toShow(roomAccess.accessType, key)) {
      <ion-item>
        <ion-label [position]="authService.settings.labelPlacement">{{ key | translate }}</ion-label>
        <ion-checkbox slot="end" [(ngModel)]="roomAccess[key]" name="{{key}}" color="secondary">
        </ion-checkbox>
      </ion-item>
      }
      }
    </ion-list>
  </ion-content>
</form>