<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{'Manage access in the rooms' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-segment (ionChange)="segmentChanged($event)" color="secondary" value="list">
    <ion-segment-button value="list">
      <ion-label>{{'Room access rules' | translate}}</ion-label>
    </ion-segment-button>
    <ion-segment-button value="status">
      <ion-label>{{'Actual status' | translate}}</ion-label>
    </ion-segment-button>
  </ion-segment>
  <ion-fab vertical="top" horizontal="end" slot="fixed" class="hidden-lg hidden-xl">
    <ion-fab-button size="small">
      <ion-icon name="arrow-forward-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list>
      <ion-fab-button *ngIf="segment == 'list'" (click)="redirectToAddEdit(null)"
        matTooltip="{{'Add new room access status' | translate }}" [disabled]="disabled">
        <ion-icon name="add-circle"></ion-icon>
      </ion-fab-button>
      <ion-fab-button *ngIf="segment == 'status'" (click)="securityService.getActualAccessStatus()"
        matTooltip="{{'Reload actual firewall status' | translate }}">
        <ion-icon name="refresh" color="tertiary"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="restartFirewall()" matTooltip="{{'Restart firewall' | translate }}">
        <ion-icon name="arrow-redo" color="tertiary"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="stopFirewall()" matTooltip="{{'Stop firewall' | translate }}">
        <ion-icon name="close" color="danger"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <ion-grid *ngIf="segment == 'list'">
    <ion-row style="background-color : {{authService.rowColors[2]}}">
      <ion-col size="4">
        {{ 'room' | translate}}
      </ion-col>
      <ion-col size="4">
        {{ 'pointInTime' | translate}}
      </ion-col>
      <ion-col size="4">
        {{ 'accessType' | translate}}
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let obj of rowData; index as i" button (click)="redirectToAddEdit(obj)"
      style="background-color : {{authService.rowColors[i%2]}}">
      <ion-col size="4">
        {{ obj.roomId | idToName:'room' }}
      </ion-col>
      <ion-col size="4">
        {{ obj.pointInTime }}
      </ion-col>
      <ion-col size="4">
        {{ obj.accessType }}
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="segment == 'status'">
    <ion-row style="background-color : {{authService.rowColors[2]}}">
      <ion-col size="2">
        {{ 'room' | translate}}
      </ion-col>
      <ion-col size="2">
        <ion-button fill="clear" size="small" matTooltip="{{'login' | translate }}">
          <ion-icon name="log-in" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button fill="clear" size="small" matTooltip="{{'portal' | translate }}">
          <ion-icon name="mail" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button fill="clear" size="small" matTooltip="{{'printing' | translate }}">
          <ion-icon name="print" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col *ngIf="authService.isAllowed('system.proxy')" size="2">
        <ion-button fill="clear" size="small" matTooltip="{{'proxy' | translate }}">
          <ion-icon color="success" name="globe" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col *ngIf="authService.isAllowed('room.direct')" size="2">
        <ion-button fill="clear" size="small" matTooltip="{{'direct' | translate }}">
          <ion-icon color="warning" name="globe" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let obj of securityService.actualStatus; index as i"
      style="background-color : {{authService.rowColors[i%2]}}">
      <ion-col size="2">
        {{ obj.roomId | idToName:'room' }}
      </ion-col>
      <ion-col size="2">
        <ion-button fill="clear" size="small" [color]="obj.login ? 'success' : 'danger'"
          (click)="toggleButton(obj,'login')">
          <ion-icon [name]="obj.login ? 'checkmark-circle' : 'close-circle'" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button fill="clear" size="small" [color]="obj.portal ? 'success' : 'danger'"
          (click)="toggleButton(obj,'portal')">
          <ion-icon [name]="obj.portal ? 'checkmark-circle' : 'close-circle'" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button fill="clear" size="small" [color]="obj.printing ? 'success' : 'danger'"
          (click)="toggleButton(obj,'printing')">
          <ion-icon [name]="obj.printing ? 'checkmark-circle' : 'close-circle'" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col *ngIf="authService.isAllowed('system.proxy')" size="2">
        <ion-button fill="clear" size="small" [color]="obj.proxy ? 'success' : 'danger'"
          (click)="toggleButton(obj,'proxy')">
          <ion-icon [name]="obj.proxy ? 'checkmark-circle' : 'close-circle'" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col *ngIf="authService.isAllowed('room.direct')" size="2">
        <ion-button fill="clear" size="small" [color]="obj.direct ? 'success' : 'danger'"
          (click)="toggleButton(obj,'direct')">
          <ion-icon [name]="obj.direct ? 'checkmark-circle' : 'close-circle'" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>